[submodule "rs-plugkit"]
	path = rs-plugkit
	url = https://github.com/AnEntrypoint/rs-plugkit.git
	branch = main
	ignore = dirty
[submodule "rs-codeinsight"]
	path = rs-codeinsight
	url = https://github.com/AnEntrypoint/rs-codeinsight.git
	branch = main
[submodule "agentplug"]
	path = agentplug
	url = https://github.com/AnEntrypoint/agentplug.git
	branch = main
[submodule "agentplug-bert"]
	path = agentplug-bert
	url = https://github.com/AnEntrypoint/agentplug-bert.git
	branch = main
[submodule "agentplug-libsql"]
	path = agentplug-libsql
	url = https://github.com/AnEntrypoint/agentplug-libsql.git
	branch = main
[submodule "agentplug-treesitter"]
	path = agentplug-treesitter
	url = https://github.com/AnEntrypoint/agentplug-treesitter.git
	branch = main
[submodule "rs-search"]
	path = rs-search
	url = https://github.com/AnEntrypoint/rs-search.git
	branch = main
[submodule "gm-config"]
	path = gm-config
	url = https://github.com/AnEntrypoint/gm-config.git
	branch = main
[submodule "vendor/tencentdb-agent-memory"]
	path = vendor/tencentdb-agent-memory
	url = https://github.com/AnEntrypoint/agent-memory.git
	branch = main
[submodule "liqology"]
	path = liqology
	url = https://github.com/AnEntrypoint/liqology.git
	branch = main
[submodule "obrowser"]
	path = obrowser
	url = https://github.com/AnEntrypoint/obrowser.git
	branch = main
[submodule "agentplug-crux"]
	path = agentplug-crux
	url = https://github.com/AnEntrypoint/agentplug-crux.git
	branch = main
[submodule "gm-mcp"]
	path = gm-mcp
	url = https://github.com/AnEntrypoint/gm-mcp.git
